[2015-08-26 16:30] sophshep opened #1 "Improve secondary navigation for smaller screens"
On smaller screens the secondary navigation feels jumbled. I think we should discuss a better solution.

[2015-09-08 18:11] middle8media opened #2 "Create a Timeline view"
https://github.com/ushahidi/platform/issues/434

[2015-09-08 18:22] #2 closed

[2015-09-08 18:23] middle8media commented on #2
https://github.com/ushahidi/platform/issues/693

[2015-09-15 18:16] middle8media opened #3 "Slack integration test issue"

[2015-09-15 18:17] middle8media commented on #3
test comment

[2015-09-15 18:17] #3 closed

[2015-10-02 17:41] sophshep opened #4 "Fix the dang text in the header"
It's too dang long

[2015-10-02 18:26] sophshep opened #5 "Add Post Button in Footer Confusing"
While adding a new post, when you get to the bottom, it is confusing that you have to click "Save" instead of the "add post" button that is in the footer.

Maybe just take out the add post button in the footer?

cc/ @brandonrosage

[2015-10-05 15:24] brandonrosage commented on #5
Yeah, I think the potential confusion isn't worth the value of having the "Add post" action in more places. If anything, we benefit from having it uniformly in the header/menu.

[2015-10-05 15:29] sophshep commented on #5
I'll take it out of PL today, then assign to @rjmackay to update client

[2015-10-06 20:58] brandonrosage opened #6 "REVIEW: Revised toggle/dropdown pattern"
@sophshep & @middle8media

Could one or both of you find some time in the next week to review my revision to the way we handle toggle/dropdown patterns? I've staged it in [a new branch called "toggle-pattern."](https://github.com/ushahidi/platform-pattern-library/tree/toggle-pattern)

The revision centers around one JavaScript file, [toggle.js](https://github.com/ushahidi/platform-pattern-library/

[2015-10-06 20:59] sophshep commented on #6
I think this is complex enough that we should both review. I can take a look tonight or tomorrow.

[2015-10-07 15:57] middle8media commented on #6
@brandonrosage first of all, great work. Your ability to handle the most complex patterns always amazes me, and with such conviction and speed.

Based on my quick testing of the three elements above and looking at code ...

This animation feels distracting.
![screen capture on 2015-10-07 at 11-53-18](https://cloud.githubusercontent.com/assets/1033332/10343066/0ef3a272-6cea-11e5-8096-7f8c0388b218.g

[2015-10-07 16:07] brandonrosage commented on #6
Thanks, @middle8media. I just pushed a revision to the user toggle/dropdown that dials down the animation. Better?

![Interaction example](http://d.pr/i/17iwb+)

[2015-10-07 16:12] middle8media commented on #6
@brandonrosage much.

[2015-10-08 17:44] sophshep commented on #6
The js here looks great, and thank you for the awesome explanation! We should link to this issue from within the PL since it's public and so helpful to explain how it works.

A few little buggy things/places that still need to be updated:

* I've noticed that the home, list view layout gets a bit broken on larger screens:
![image](https://cloud.githubusercontent.com/assets/527589/10374459/2c2e4c34

[2015-10-08 17:50] #5 closed

[2015-10-08 17:51] sophshep commented on #5
Hey @rjmackay - can you take update the footer in the client?

[2015-10-08 17:56] #4 closed

[2015-10-12 14:57] sophshep opened #7 "Add red delete button style"

[2015-10-21 17:44] brandonrosage commented on #6
@sophshep Should be fixed. Confirm and we'll pass it on to the product for implementation.

[2015-10-21 17:49] sophshep commented on #6
I'm still seeing some formatting brokenness on the list view layout. It should have borders on the left & right and have every other listing be light gray (using the "zebra" extend)

![image](https://cloud.githubusercontent.com/assets/527589/10645128/bbedafa6-77f1-11e5-9190-25651723f971.png)

And also on the small screen of the step list pattern (when it collapses into a dropdown), which shows up

[2015-10-21 18:29] brandonrosage commented on #7
SOLUTION: https://github.com/ushahidi/platform-pattern-library/commit/77fa3c3593c0a6c44f02ff7ae7358a51a13887dc

[2015-10-21 18:29] #7 closed

[2015-10-21 18:53] brandonrosage commented on #6
Fixed the list summary and `.step-list' implementation.

What about now, @sophshep?

[2015-10-21 19:02] sophshep commented on #6
Looks great!

[2015-10-21 19:29] #6 closed

[2015-11-02 20:44] brandonrosage commented on #6
NOTE: I've merged the *toggle-pattern* branch into *gh-pages.*

[2015-11-10 03:04] willdoran opened #9 "Map overlay appears in front of client parallax"
Both the map buttons and Leaflet label at the bottom right appear in front of the parallax.

<img width="935" alt="screen shot 2015-11-09 at 22 01 39" src="https://cloud.githubusercontent.com/assets/2694405/11053258/a6d52c66-872d-11e5-9658-d00783639718.png">

[2015-11-10 03:09] willdoran opened #10 "Searh & filters aside misaligning"
The search and filters asides appear to be misaligned. Could @brandonrosage, @middle8media  or @sophshep advise me what the correct pattern is for this?

I'm not sure if I'm looking in the correct place but the pattern here also appears to have the issue:
http://github.ushahidi.org/platform-pattern-library/assets/html/3_modules/#pl-pattern-filters

<img width="1280" alt="screen shot 2015-11-09 at

[2015-11-10 03:48] rjmackay commented on #9
You might need to fix that in the client CSS overrides, or just update the
PL. It'll be a z-index mismatch between leaflet css and the PLL.

On Tue, Nov 10, 2015 at 4:04 PM, will <notifications@github.com> wrote:

--
Robbie Mackay

Head of engineering
Ushahidi Inc
m: +64 27 576 2243
e: robbie@ushahidi.com
skype: robbie.mackay

[2015-11-10 03:52] willdoran commented on #10
This is working correctly in the full layouts so I'll base my change on that!

[2015-11-10 04:03] willdoran commented on #9
Ok groovy I'll move the issue.

[2015-11-10 04:03] #9 closed

[2015-11-10 17:03] brandonrosage opened #12 "Revise PL code samples to use pre-processed HTML"
Avoid JS-manipulated HTML from appearing in the HTML samples.

[2015-11-11 23:52] rjmackay opened #14 "Remove defunct layouts from pattern library"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/ lists a few layouts I think are now replaced:
- everything under layout C is broken.. but I think most of those were replaced anyway?
- We have 2 'edit post with steps' layouts:
  - http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-edit-with-steps.html
  - http://github.ushahidi.org/platform-pat

[2015-11-11 23:53] rjmackay opened #15 "Collections button in post detail is misaligned"
Both the button and the dropdown as misaligned
https://www.dropbox.com/s/ed2r43j6zsqlzrc/Screenshot%202015-11-12%2012.52.32.png?dl=0

[2015-11-11 23:56] rjmackay opened #16 "Unclear what the action should be on "Who can see this" post"
We now have a 'change this' button [in the post summary](https://www.dropbox.com/s/ld8ovdx4w43a8pu/Screenshot%202015-11-12%2012.55.22.png?dl=0) and [on post detail](https://www.dropbox.com/s/kfizcquzeabunrl/Screenshot%202015-11-12%2012.55.49.png?dl=0)

Its not clear what the action should be on these? Do we direct to edit post? show a modal? a dropdown?

[2015-11-11 23:56] rjmackay commented on #16
cc @willdoran

[2015-11-12 04:31] brandonrosage commented on #16
Great catch. I've revised these patterns to include all the necessary markup to complete the "Change," if the user has permission to do so.

Some notes on implementation:

1. I've created a variation to the "custom-select" pattern that, when you add the class name "cta," it makes the value look more like content and the action button more discreet. But it still behaves just like a select control.

[2015-11-12 04:31] #16 closed

[2015-11-12 20:40] rjmackay commented on #16
@willdoran ^ changes above

[2015-11-12 20:51] rjmackay commented on #14
Can we remove "cloud-new-deployment.html" entirely since its replaced by a layout in the dotcom pattern library?

[2015-11-13 04:05] rjmackay opened #17 "User menu dropdown misaligned"
https://www.dropbox.com/s/fn0s2j7hmcqdly5/Screenshot%202015-11-13%2017.04.30.png?dl=0

[2015-11-13 04:05] rjmackay opened #18 "Map and filters misaligned"
https://www.dropbox.com/s/xj2vbnx0u52usa7/Screenshot%202015-11-13%2017.05.15.png?dl=0

[2015-11-16 02:05] rjmackay opened #19 "Missing spacing between header and menu?"
https://www.dropbox.com/s/q78rsw9zlx0axwt/Screenshot%202015-11-16%2015.04.28.png?dl=0

URL: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-list.html
Browser: Firefox

[2015-11-16 03:29] rjmackay opened #20 "New post type chooser style gets broken by angular"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/choose-post-type.html

- Angular requires wrapping the list items in an HTML element so we can use `ng-repeat`
- The styling uses a different style for the last `dd` element.. but because of the wrapper ever element gets treated as the last :/

[2015-11-16 03:30] rjmackay commented on #20
For example of the resulting angular markup
[code]

[2015-11-16 03:49] rjmackay opened #21 "Missing form patterns"
http://github.ushahidi.org/platform-pattern-library/assets/html/2_fragments/#pl-pattern-forms
is missing
- radio patterns
- Error patterns for radios and checkboxes
  - Current error pattern doesn't really work for a checkbox, since we want to add the error class to the fieldset, not the `.form-field`

[2015-11-16 03:56] rjmackay commented on #21
Also it'd be much easier in the client if we could support checkboxes/radio wrapped in a the label. Otherwise we have to generate unique ids for every field and avoid collisions
ie. `<label><input type="checkbox"> Label</label>`

[2015-11-16 15:32] brandonrosage commented on #19
This is actually a bug with the dynamic header -- not how it renders in Firefox. I got it.

[2015-11-23 14:03] #10 closed

[2015-11-30 03:43] willdoran opened #22 "Add user button on settings/users should be an anchor element"
This button is best handled as a link by the platform client. Would it be possible to change the styling so that it can be applied to <a>?

<img width="730" alt="screen shot 2015-11-29 at 22 41 35" src="https://cloud.githubusercontent.com/assets/2694405/11463034/7929172e-96ea-11e5-9f72-5605c5939eba.png">

[2015-11-30 03:53] willdoran commented on #22
This is also true for the Edit button on the post detail page
<img width="721" alt="screen shot 2015-11-29 at 22 52 40" src="https://cloud.githubusercontent.com/assets/2694405/11463160/f504419c-96eb-11e5-8651-d321c76ed383.png">

[2015-12-01 03:16] rjmackay opened #23 "Posts without title need a link to post detail page"
- Not all posts have a title (unstructure SMS for example)
- These posts still need a link to the post detail page

[2015-12-02 21:22] willdoran opened #24 "up/downvote functionality needed for form steps"
This could be handled as a button at the top of the step tabs. This has the same behaviour as the reordering of form attributes/fields.

http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-post-type-detail.html

[2015-12-02 21:23] willdoran opened #25 "Unneeded updown vote buttons on forms page"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-post-types.html
The forms themselves don't have priorities but stages/steps do see [24](https://github.com/ushahidi/platform-pattern-library/issues/24)

[2015-12-10 02:20] rjmackay opened #26 "Post detail layout breaks when content is very short"
This might seem like an edge case.. but because SMS messages become posts it'll actually be common
<img width="1055" alt="screenshot 2015-12-10 15 15 38" src="https://cloud.githubusercontent.com/assets/7965/11705007/8f4693dc-9f51-11e5-8641-973e8a0a16c3.png">

[2015-12-10 02:21] rjmackay commented on #26
Maybe just min-height on the white box ??

[2015-12-10 03:09] rjmackay opened #27 "Step tabs appear clickable but are not"
https://www.dropbox.com/s/a4zpya0olc6i0ba/Screenshot%202015-12-10%2016.07.32.png?dl=0

The `<li>` for the tabs has `cursor: pointer` however only the text inside the `<a>` is clickable. This makes for a really irritating UI in practice.

Can we fix this styling so that
1. Only the actual link has a pointer cursor?
2. Ideally the `<a>` expands to fill the tab so the entire tab as actually clickable

[2015-12-10 03:14] rjmackay opened #28 "Update post edit view puts save button at the top again"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-edit-with-steps.html

This has previously been reported as an issue by users. People fail to find the "Save post" button since they expect a save button at the end of the form.
Can we add a 2nd button below the form? or in the sidebar?

[2015-12-10 20:50] middle8media commented on #27
The css is ready to go.

A slight change to the markup here - https://github.com/ushahidi/platform-pattern-library/commit/b9dcada5dedb82e32dffb8801953a302140b5b5a#diff-34b5f2524642efb362dbf2fbf3d0f7b2L119

[2015-12-10 21:50] rjmackay commented on #27
@willdoran Can you update the client to match?

[2016-02-05 02:41] rjmackay opened #29 "Vertical tabs appear broken in pattern library"
https://www.dropbox.com/s/xc5uab6ukbnbhem/Screenshot%202016-02-05%2015.40.37.png?dl=0

On this page http://github.ushahidi.org/platform-pattern-library/assets/html/3_modules/#pl-pattern-tabs
In both chrome and firefox

[2016-02-05 02:42] rjmackay opened #30 "Filters aside broken in pattern library"
https://www.dropbox.com/s/vgpakdmk4h4jnz9/Screenshot%202016-02-05%2015.41.45.png?dl=0
http://github.ushahidi.org/platform-pattern-library/assets/html/3_modules/#pl-pattern-filters

[2016-02-05 02:45] rjmackay opened #31 "No space before "create collection" in firefox"
Seen in collection dropdown here http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-detail-with-messages.html
https://www.dropbox.com/s/hyn9a1v8c5sbnpx/Screenshot%202016-02-05%2015.44.12.png?dl=0
vs
https://www.dropbox.com/s/rclofp0jirampmi/Screenshot%202016-02-05%2015.44.42.png?dl=0

[2016-02-05 02:50] rjmackay commented on #19
@brandonrosage done??

[2016-02-05 02:51] #18 closed

[2016-02-05 02:52] #15 closed

[2016-02-05 03:04] #27 closed

[2016-02-08 20:07] brandonrosage commented on #19
The ["global-blocks" branch](https://github.com/ushahidi/platform-pattern-library/tree/global-blocks) that @middle8media created, which folds in simple, block-level layout revisions to inch toward the "Project Mustang" layout, squashes this bug.

[2016-02-10 17:20] #25 closed

[2016-02-10 17:31] #26 closed

[2016-02-10 19:28] middle8media commented on #23
[code]

My original thought for this was to wrap the `.post-text` div, but HTML does not support an anchor around a block level element. My second thought was to wrap an anchor around the `<p>` but ...

@brandonrosage and I were talking and he made a great point. Can posts be assigned a dynamic title? something like "SMS 1029, with unknown form". That way we don't have to mess with an anchor wrap

[2016-02-10 19:38] #22 closed

[2016-02-10 19:38] middle8media commented on #22
will fix markup in client as well

[2016-02-17 16:58] middle8media commented on #20
@rjmackay can you provide a screenshot of this bug?

[2016-02-17 17:32] #21 closed

[2016-02-17 17:41] middle8media commented on #23
ping @rjmackay ^

[2016-02-17 17:42] middle8media opened #32 "min height issue with form steps"

[2016-02-17 18:27] #32 closed

[2016-02-22 03:07] rjmackay opened #33 "Mismatch in save button location"
- Edit user has save at the bottom
https://www.dropbox.com/s/0pjnv7i821geami/Screenshot%202016-02-22%2016.06.21.png?dl=0
- Edit role has save at the top
https://www.dropbox.com/s/7os2d9ut3xu25rq/Screenshot%202016-02-22%2016.07.00.png?dl=0

Can we make a consistent decision about this?
Also - users have logged missing save buttons as a bug before so I think we should be showing save at the bottom..

[2016-02-23 16:34] middle8media commented on #28
fixed via https://github.com/ushahidi/platform-pattern-library/commit/7f9e8e5660d6acbf333220773480a583cfc04a33

adding markup to client and submitting PR

[2016-02-23 16:34] #28 closed

[2016-02-23 18:25] middle8media commented on #33
@brandonrosage and I have been discussing this. Here is where we landed.

forms that are five fields of fewer = button/s on bottom
forms that are more than five fields = button/s on top AND bottom

@rjmackay Does this work for the dev team?

[2016-02-23 18:25] middle8media commented on #33
closed via https://github.com/ushahidi/platform-client/commit/c2b9b93baf42a7663be646a6f36dec812f9d2437

[2016-02-23 18:25] #33 closed

[2016-02-23 18:28] rjmackay commented on #33
That makes sense - have you checked thats done everywhere? or should I keep this open and have Will review the client?

[2016-02-23 18:32] middle8media commented on #33
yes, as far as I know it is done everywhere. I submitted a PR to @willdoran

[2016-02-24 15:37] middle8media commented on #23
:+1:

[2016-02-26 01:08] rjmackay commented on #20
I think @willdoran managed to solve this with some (slightly insane) angular markup :)

[2016-02-26 01:08] #20 closed

[2016-03-31 21:15] rjmackay commented on #23
@middle8media can you have a go at doing this in the client itself?
https://github.com/ushahidi/platform-client-mSheria/blob/master/server/www/templates/posts/preview.html#L22 is how we did this for msheria

[2016-04-04 19:14] middle8media commented on #23
fixed via https://github.com/ushahidi/platform-client/commit/5633626ebcf3fc3e3e74291e929285414866724d

[2016-04-05 22:02] rjmackay commented on #23
Don't close this out till the PR lands :)

[2016-05-01 21:23] #23 closed

[2016-05-02 22:44] jshorland commented on #30
Closing. Fixed by mustang patterns phase I.

[2016-05-02 22:44] #30 closed

[2016-05-02 22:58] jshorland commented on #19
Closing. Mustang fixes this.

[2016-05-02 22:58] #19 closed

[2016-05-06 01:06] caharding opened #36 "Saved searches shouldn't have rounded corners"
Since filters has squared corners, this pattern should as well

<img width="473" alt="screen shot 2016-05-05 at 6 05 42 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061594/09d1aade-12ec-11e6-8a22-d96256d1f342.png">

[2016-05-06 01:08] caharding opened #37 "Post "pins" are difficult to see"
The large white center against the white on the map makes it hard to see the pins. Consider restyling, playing with the inside border, changing the white to off white, reducing white size, or changing back shadow or size of pins. Also the pin has a squared top, which is strange.
<img width="89" alt="screen shot 2016-05-05 at 6 06 22 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061

[2016-05-06 01:11] caharding opened #38 "Share button hover state not centered"
<img width="112" alt="screen shot 2016-05-05 at 6 10 33 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061663/bfb894fc-12ec-11e6-8cde-997a1235eae6.png">

[2016-05-06 01:12] caharding opened #39 "Add a start/end date selector on Activity filter"
I'd also suggest dropping the "today, this week, this month" out of filters and make it more easily selectable.
<img width="979" alt="screen shot 2016-05-05 at 6 11 38 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061681/edf16b96-12ec-11e6-8530-1e9a5d4cd1d9.png">

[2016-05-06 01:13] caharding opened #40 "Timeline is squished and bar chart is large"
Looks funny, consider restyling

<img width="975" alt="screen shot 2016-05-05 at 6 12 55 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061686/040b18f0-12ed-11e6-9241-499f3266119f.png">

[2016-05-06 01:14] caharding opened #41 "Settings grid is too large, make more dense"
Reduce the height of the rows here to make more dense

<img width="983" alt="screen shot 2016-05-05 at 6 13 23 pm" src="https://cloud.githubusercontent.com/assets/1618793/15061698/18e789fc-12ed-11e6-93ee-eaf9d81ce012.png">

[2016-05-06 01:49] rjmackay commented on #40
Not sure its worth fixing this in the PL - since the actual graphing libs in the client are different. Though it is good to have some idea of the end goal

[2016-05-06 04:10] caharding commented on #40
Got it

On Thursday, May 5, 2016, Robbie Mackay <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-05-06 15:41] brandonrosage commented on #40
Robbie is right. The graphs in the PL are placeholder images. The charting library handles its styling separately.

[2016-05-06 15:46] brandonrosage commented on #41
The consistency in spacing in the "listing-item" pattern, A, makes things easily scannable, and B, allows for a wider range of uses. For example, "[Data Sources](http://mustang.robbiemackay.com/assets/html/5_layouts/settings-data-sources.html)" uses this pattern to include an image and a trigger that exposes a body area:

![image](https://cloud.githubusercontent.com/assets/1136279/15078135/613578b

[2016-05-06 15:49] brandonrosage commented on #39
I've revised the "Activity" page example so that the "Filters" button in the toolbar reads "Date range," and displays the typical date range controls. It was previously a selection of one of three options because that's what the product currently does. And I've been called to honor those constraints. We'll see if this is possible in the next release.

[2016-05-06 16:08] brandonrosage commented on #36
This is fixed.

[2016-05-06 16:08] #36 closed

[2016-05-06 16:19] brandonrosage commented on #37
I've fixed the hard edge at the top. But let's get into the rest...

First, it's important to consider that we don't get to pick the color of the markers. It's the No. 1 challenge here. In many cases, there will be multiple colors, in order to call out the survey they belong to. So anything we do to them has to be color-neutral -- black, white, or somewhere in between.

Second, the zoom level of t

[2016-05-06 16:25] brandonrosage commented on #38
Fixed.

[2016-05-06 16:25] #38 closed

[2016-05-06 17:05] caharding commented on #37
I still am having trouble reading the markers at different zoom levels. The
colors we've chosen against this basemap just seem to blend in for me,
where the other maps all seem more readable. Though colors and base layers
are surely changeable, I think the default should be hyper legible. If you
disagree I would at least suggest asking this in user tests and potentially
showing them other maps to

[2016-05-06 17:19] caharding commented on #39
I guess on this screen the filters box seems like an unnecessary step and
it would be better to have all of these options, not buried in a button. I
think having the 3 defaults as quick options is also nice.

On Fri, May 6, 2016 at 6:49 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-05-06 17:20] caharding commented on #41
Agree it is good to use fewer patterns. The problem is how the Setting each
have a sub header which is expanding the size of the Div. Would be better
to keep the Div the same size, and just center the two lines of text within
it.

On Fri, May 6, 2016 at 6:46 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-05-06 17:20] caharding commented on #41
It may also be nice to have a visual icon for each of these setting types.
But, definitely a nice to have not necessary.

On Fri, May 6, 2016 at 8:20 PM, Charles Harding <charles@ushahidi.com>
wrote:

--
Charlie Harding
Product Director

[2016-05-06 17:24] caharding opened #43 "Share button divs should be clickable"
Sharing to facebook or twitter requires I click directly on the text. The whole div should be clickable as a button. This may apply to the same pattern in other places like settings.
<img width="378" alt="screen shot 2016-05-06 at 10 22 00 am" src="https://cloud.githubusercontent.com/assets/1618793/15080807/ac850f86-1374-11e6-8fde-58ea8289eca4.png">

[2016-05-06 17:26] caharding opened #44 "Animation timing on Filters and Saves searches is off"
Current experience: the button fades in, then the menu fades in
Expected experience: the button and the menu fade in at the same time

[2016-05-06 17:27] caharding opened #45 "Filters drop down should not have rounded corners on the top and no top shadow."
The whole search/filter bar should be viewed as one contiguous box that expands down, not separated as if it is a separate pop up.

<img width="474" alt="screen shot 2016-05-06 at 10 26 05 am" src="https://cloud.githubusercontent.com/assets/1618793/15080895/102c2902-1375-11e6-98b4-192506c4ea09.png">

[2016-05-06 17:30] caharding opened #46 "Dropdown pattern seems broken"
Dropdown is breaking the style visual style and should be appending to the bottom of the div

<img width="263" alt="screen shot 2016-05-06 at 10 29 28 am" src="https://cloud.githubusercontent.com/assets/1618793/15081004/821d1292-1375-11e6-94b7-6e5a4c4e0301.png">

[2016-05-06 17:31] caharding opened #47 "Featured toggle on collections should be justified with supporting text"
I didn't understand what the toggle was going to do because the qualifying text is left justified. Should be adjusted. so that the two are next to each other on either left or right.
<img width="600" alt="screen shot 2016-05-06 at 10 31 30 am" src="https://cloud.githubusercontent.com/assets/1618793/15081059/b6784868-1375-11e6-8ace-e1c72bfcb146.png">

[2016-05-06 17:34] caharding opened #48 "Timeline multi-select should not have top left rounded corner"
Top-left corner should be hard edge to align with the "Mark As" button

<img width="407" alt="screen shot 2016-05-06 at 10 33 11 am" src="https://cloud.githubusercontent.com/assets/1618793/15081116/0819ce94-1376-11e6-9d71-
863c98bfc9b7.png">

[2016-05-06 17:38] caharding opened #49 "Add visual aid to "Add Field""
Seems we can make this faster to visually scan if there were an icon with each.

<img width="594" alt="screen shot 2016-05-06 at 10 37 32 am" src="https://cloud.githubusercontent.com/assets/1618793/15081205/9b5cc332-1376-11e6-9b6f-b8bd746abf5c.png">

[2016-05-06 17:42] caharding opened #50 "Cursor on mobile search does not scan right as you type until too late"
As I enter text into the search bar on a smaller screen, it takes a few words for the cursor to catch up to my text.
<img width="399" alt="screen shot 2016-05-06 at 10 41 09 am" src="https://cloud.githubusercontent.com/assets/1618793/15081297/26683cf4-1377-11e6-81df-d407313897e8.png">

[2016-05-06 17:43] caharding opened #51 "Spacing at bottom of plans needs adjustment"
Self hosted is bumping up against that grassroots button

<img width="876" alt="screen shot 2016-05-06 at 10 43 12 am" src="https://cloud.githubusercontent.com/assets/1618793/15081338/611e5b58-1377-11e6-960b-25ae77e001a7.png">

[2016-05-06 17:54] caharding opened #52 "Add to survey button needs to be restyled"
On tasks [translation](http://mustang.robbiemackay.com/assets/html/5_layouts/post-detail.html#tasks-translation) suggest restyling survey button

![screen shot 2016-05-06 at 10 53 54 am](https://cloud.githubusercontent.com/assets/1618793/15081687/de613468-1378-11e6-90a4-a61fab6963a0.png)

[2016-05-06 18:10] caharding opened #53 "Restyle Map Embed to work in a smaller context"
Suggestion
![map embed](https://cloud.githubusercontent.com/assets/1618793/15082172/298fc0f6-137b-11e6-8e59-b27ac4049ec7.png)

[2016-05-06 18:11] caharding commented on #53
Suggest restyling the timeline and post in a similar manner

[2016-05-06 18:13] caharding opened #54 "Success email header incorrectly justified"
The link address and Ushahidi are not centered correctly on the success email http://mustang.robbiemackay.com/assets/html/5_layouts/email-deployment-new.html
<img width="1272" alt="screen shot 2016-05-06 at 11 12 32 am" src="https://cloud.githubusercontent.com/assets/1618793/15082229/8135691e-137b-11e6-854f-39b452ac25e6.png">

[2016-05-09 15:26] brandonrosage commented on #37
I've revised the structure of map markers to allow us to do a treatment like this:

![image](https://cloud.githubusercontent.com/assets/1136279/15118132/806015d2-15d0-11e6-9f8a-684eda5c985d.png)

[2016-05-09 17:22] brandonrosage commented on #39
I've created an optional dynamic treatment for date range fieldsets that is appropriate for the functionality here. It's very similar to Google Analytics, but a bit simpler.

On page load:

![image](https://cloud.githubusercontent.com/assets/1136279/15121456/653bab94-15e0-11e6-854a-543ba30e3f69.png)

Upon interaction:

![image](https://cloud.githubusercontent.com/assets/1136279/15121470/72960ef6-1

[2016-05-09 18:46] caharding commented on #39
Good solution. The pattern for the drop down still needs some work. The
rounded corner issue appears here again. This drop down should look like a
continuation of the button, not a separate div on a new z-axis with its own
rounded corners.

On Mon, May 9, 2016 at 8:22 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-05-09 22:02] brandonrosage commented on #39
I agree. I've revised the popup treatment for "custom fieldsets" and "postcard" action dropdowns (likely more to come, as needed): http://d.pr/i/16rU0/3cKzqfXV

[2016-05-17 03:47] rjmackay opened #55 "Scroll bar disappears when opening dropdown on post card"
https://www.dropbox.com/s/mozhnmr5r5aubva/Screenshot%202016-05-17%2015.45.29.png?dl=0
vs
https://www.dropbox.com/s/jayfnvh3pop73ux/Screenshot%202016-05-17%2015.45.19.png?dl=0

1. Go to http://mustang.robbiemackay.com/assets/html/3_modules/#pl-pattern-postcard
2. Click dropdown arrow on post card

Expected: Dropdown should appear without scrollbar disappearing and the view jumping as a result
Actua

[2016-05-17 03:47] rjmackay commented on #55
In Chrome.

[2016-05-17 03:48] rjmackay commented on #55
oops. Just checked lastest code at it seems this is already fixed

[2016-05-17 03:48] #55 closed

[2016-05-17 04:14] rjmackay opened #56 "Tricky translation string for post author, time and source"
The pattern library creates some tricky to translate strings https://www.dropbox.com/s/qz7f0ui1v3me75f/Screenshot%202016-05-17%2016.06.11.png?dl=0

"Jess Shorland, 45 mins, via SMS" would ideally be built from a single translation string of "{Name}, {post date}, via {source}"
This allows translators to reorder the phrase as appropriate for their language. However because formatting and link around

[2016-05-17 19:12] caharding commented on #45
Another case of this pattern occurs on mobile
![img_3671](https://cloud.githubusercontent.com/assets/1618793/15335765/a17a4f5e-1c28-11e6-8040-7b0d57afec98.jpg)

[2016-05-17 19:16] caharding opened #57 "Timeline checkbox not correctly aligned"
The checkbox and title seem to be misaligned
![img_3673](https://cloud.githubusercontent.com/assets/1618793/15335845/c5780022-1c28-11e6-9a7d-242e06f8981f.jpg)

[2016-05-17 19:17] caharding opened #58 "Deployment overview dropdown fades to white on mobile"
On mobile browse to map mode, then click on the dropdown for the deployment overview. There is a weird white animation that occurs that seems like an error
![img_3675](https://cloud.githubusercontent.com/assets/1618793/15336006/4f99a92c-1c29-11e6-9863-f28c8a6600fd.jpg)

[2016-05-17 19:18] caharding opened #59 "Add button not sticky"
The add post button can sometimes scroll up and down with the page, which should not happen

![img_3677](https://cloud.githubusercontent.com/assets/1618793/15336030/67a75118-1c29-11e6-891d-cdfb8f2c11b6.jpg)

[2016-05-17 19:19] caharding opened #60 ""More" on mobile should be on a dark background"
I think this pattern should be on dark, not light to be consistent with deployment level information being on a dark background, and consistent with the desktop side bar.

![img_3678 1](https://cloud.githubusercontent.com/assets/1618793/15336074/a9dff7ec-1c29-11e6-8941-ebaadcba9ae8.jpg)

[2016-05-17 20:34] caharding opened #61 "How to post will be buried if there are too many post types/surveys"
The mode context bar doesn't scroll, so the how to post is buried

<img width="1278" alt="screen shot 2016-05-17 at 1 33 57 pm" src="https://cloud.githubusercontent.com/assets/1618793/15338268/1325f30a-1c34-11e6-88d8-161b107e9686.png">

[2016-05-17 22:05] rjmackay opened #62 "Custom fieldset pattern doesn't show current state"
When open https://www.dropbox.com/s/fdthkwikoun0k9g/Screenshot%202016-05-18%2010.02.34.png?dl=0
Or collapsed https://www.dropbox.com/s/6ijzf28y4933b6f/Screenshot%202016-05-18%2010.04.34.png?dl=0

If something is already selected - we don't show the current state. Can we add a select state for this pattern?

[2016-05-25 03:53] rjmackay opened #63 "Weird white bar in header on smaller screens"
![screenshot 2016-05-25 15 52 31](https://cloud.githubusercontent.com/assets/7965/15527707/d69e28f4-2290-11e6-9a61-917fc3f14bd3.png)

[2016-05-27 09:11] rjmackay opened #64 "Where should message thread appear in the Mustang UI?"
Previously we have a view of  a posts associated messages. This doesn't appear in the mustang layouts. Is it now part of the post detail? or non existent?

[2016-05-27 14:56] brandonrosage commented on #64
I intended to suggest (but never communicated) that the same listing pattern we use for "Comments" would be used for "Messages." It's now included on the layout: https://github.com/ushahidi/platform-pattern-library/blob/mustang/pattern-library/5_layouts/post-detail.html#L251-L301

If there's some functionality that I haven't accounted for, please let me know and I'll design for it.

[2016-06-01 00:19] rjmackay commented on #64
Ah. Actually I think we talked about that months ago.. sorry for not keeping track.

- We're missing some way to show if messages are incoming or outgoing
  - This might also double as highlighting Administrator replies to comments
- Is there anywhere I could show whats being listed ie "Messages exchanged with 012 123456"
- Minor: Add message should probably be 'reply'

[2016-06-01 00:25] rjmackay commented on #61
Related: if there are too many post types they can drop off the bottom of the screen.

[2016-06-01 14:28] middle8media commented on #63
@rjmackay: @brandonrosage and I are not able to replicate this. Can you replicate it again and let us know the details (mobile device, browser, etc...) Thanks.

[2016-06-02 18:37] brandonrosage commented on #64
[I've revised this pattern a bit](https://github.com/ushahidi/platform-pattern-library/blob/mustang/pattern-library/5_layouts/post-detail.html#L251-L300) to include the content you mentioned. Some of it (namely the matter of "incoming" and "outgoing") I'm not 100 percent clear on. So there's a modest attempt to address it.

![Screenshot of Conversation](https://cloud.githubusercontent.com/assets/1

[2016-06-02 18:42] #61 closed

[2016-06-06 14:07] #17 closed

[2016-06-06 14:08] #14 closed

[2016-06-06 23:51] rjmackay commented on #64
Great. That looks excellent.

[2016-06-06 23:51] rjmackay commented on #64
@jasonmule I think you were working on implementing this?

[2016-06-09 01:18] #64 closed

[2016-06-09 02:49] rjmackay commented on #63
I'm seeing this on both chrome and firefox with a small browser window.
Weirdly I don't see it in firefox responsive design view.. but a normal narrow browser window does show it.

[2016-06-09 16:25] middle8media commented on #63
Looking into it.

[2016-06-09 17:37] brandonrosage commented on #63
I still can't replicate it with the conditions Robbie mentioned.

[2016-06-09 18:38] brandonrosage commented on #63
I fixed this just now.

[2016-06-09 18:38] #63 closed

[2016-06-27 16:16] middle8media commented on #24
@will does https://github.com/ushahidi/platform-pattern-library/issues/25 solve this issue?

[2016-06-27 16:33] will commented on #24
I have no idea, sorry I can't be of more help.

[2016-06-27 17:37] middle8media commented on #24
sorry @will I meant to @mention @willdoran

[2016-06-27 17:52] willdoran commented on #24
@middle8media yep I think this is working

[2016-06-27 17:54] #24 closed

[2016-07-11 17:58] brandonrosage commented on #56
I believe I've solved for this in recent revisions to "postcards." For example, [here](https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/pattern-library/5_layouts/timeline.html#L126-L129), avatar, name, time, and source are all separate.

Does that address the problem, @rjmackay?

[2016-07-14 19:17] #40 closed

[2016-07-14 19:20] #48 closed

[2016-07-14 19:22] #45 closed

[2016-07-14 19:23] #41 closed

[2016-07-14 19:23] #39 closed

[2016-07-14 19:23] #37 closed

[2016-07-14 19:24] #31 closed

[2016-07-14 19:24] #29 closed

[2016-07-14 19:25] #1 closed

[2016-07-14 20:32] middle8media commented on #57
@caharding are you referring to the horizontal alignment of the checkbox and the post title?

![image](https://cloud.githubusercontent.com/assets/1033332/16854695/14304082-49e0-11e6-80ba-b6fe7553cba8.png)

If so, this would be the proper alignment

![image](https://cloud.githubusercontent.com/assets/1033332/16854761/6d72112a-49e0-11e6-8668-6ce5c11a9e0d.png)

[2016-07-15 08:27] middle8media commented on #51
This is fixed

![image](https://cloud.githubusercontent.com/assets/1033332/16868214/616ce9c2-4a44-11e6-9ae2-e87490962043.png)

[2016-07-15 08:27] #51 closed

[2016-07-15 09:01] middle8media commented on #58
@brandonrosage didn't we discuss this a while back? Are you able to pinpoint this visual bug with ease?

[2016-07-15 09:17] middle8media opened #70 "More menu `tuck` items position"
`.tuck` items ("Tasks" and "Settings") are positioned absolute bottom.

![image](https://cloud.githubusercontent.com/assets/1033332/16869457/e64d6896-4a4a-11e6-9b0f-6c8d82480778.png)

I suggest they fall inline with the items in account menu

![image](https://cloud.githubusercontent.com/assets/1033332/16869561/652dcd4a-4a4b-11e6-9916-43831fca2179.png)

[2016-07-15 09:24] middle8media commented on #59
I have tested and confirmed this bug is on mobile device only, not in browser. @brandonrosage any idea of what is going on here?

[2016-07-15 09:31] middle8media commented on #56
@brandonrosage each item needs to have `translate` applied so I believe the desired outcome would be

`<a href="" class="metadata-author" translate>{name)</a>, <span translate>{post_date}</span> <span translate>{source}</span>`

or maybe just one `<span>` like so

`<a href="" class="metadata-author" translate>{Name)</a>, <span translate>{post_date} {source}</span>`

@rjmackay can you chime in here

[2016-07-15 09:34] middle8media commented on #54
@caharding what is the desired outcome here? This looks centered to me

![image](https://cloud.githubusercontent.com/assets/1033332/16870070/bb854f68-4a4d-11e6-8014-99644e4103af.png)

[2016-07-15 09:35] stephengacheru commented on #59
@middle8media It seems to be ok on my phone. Using google chrome on Android. Maybe it's specific to certain mobile browsers?

[2016-07-15 09:42] middle8media commented on #59
@stephengacheru I have tested on iPhone 6s with Chrome & Safari and can confirm this bug on both.

[2016-07-15 09:49] middle8media commented on #50
I am unable to recreate this, although as I enter text that is longer than the search input field the cursor does appear above "Saved Searches" and "Filters" buttons.

@brandonrosage Maybe the search input field could expand when clicking/tapping inside

[2016-07-15 10:04] middle8media commented on #49
@brandonrosage I can knock this out quick, I just wanted to get your thoughts.

[2016-07-18 18:25] caharding commented on #54
I would have the Logo centered over the other text. The email address on
the right is extraneous info. Together they don't read as a continuous
block.

On Fri, Jul 15, 2016 at 5:34 AM, Seth Hall <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-07-18 18:27] caharding commented on #57
Looks fine now

On Thu, Jul 14, 2016 at 4:32 PM, Seth Hall <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-07-21 21:19] rjmackay commented on #56
We haven't solved this. Because we still have HTML wrapping the author we can't combine author into the same translation string as source + date. Its really made worse by the commas between each portion. We end up with a translation that begins with a comma like: ", {{date}}, via {{source}}"
I think in the client I just dropped the `,` from the text entirely.

TBH this is super minor - so we could

[2016-07-22 15:57] brandonrosage commented on #46
The short story here is that, for every single dropdown/popover interaction in the product to have the same visual treatment, we have to commit to throwing out native `<select>` controls (like the one you've highlighted), and use custom controls everywhere that type of interaction occurs.

That comes at a hefty cost to the responsive web experience and accessibility. Native select controls take ad

[2016-07-25 15:47] #43 closed

[2016-07-25 15:47] #44 closed

[2016-07-25 15:47] #47 closed

[2016-07-25 15:47] #52 closed

[2016-07-25 15:47] #57 closed

[2016-07-25 15:47] #60 closed

[2016-07-25 23:19] rjmackay commented on #46
@brandonrosage Is there some immediate action needed here?

[2016-07-26 02:31] brandonrosage commented on #46
Not unless @charlie objects to my reasoning here.

[2016-07-28 16:31] brandonrosage opened #72 "'Searchbar' with smart input"
I spent maybe 8 hours a few weeks back trying to work out a proof-of-concept solution to [the stated problem with our search + filter summary](https://github.com/ushahidi/platform/issues/1252). In short, that problem is that we give users a summary of the filters they've applied in the `mode-context` -- not in the `searchbar` itself, where they apply the filters. And that summary in the `mode-cont

[2016-08-03 04:19] rjmackay opened #76 "Color picker has changed since platform-client update"
The color picker seen on http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/settings-survey-edit.html has changed since we implemented this in the client.

Can we either:
- Revert this in the pattern library, and move the new version to its own branch until we're ready to implement
- Schedule this for implementation in the client

@jshorland over to you for triage.
@

[2016-08-03 13:50] sethburtonhall opened #77 "New Deployment Email needs restyling"
1. The link in header should be a different color
2. the device image is skewed and heading is cropped

![messages image 2852738471](https://cloud.githubusercontent.com/assets/1033332/17367813/7f9d1046-595f-11e6-9f5e-ca74460a277b.png)

[2016-08-03 15:35] middle8media commented on #72
I love this idea and added enhancement. Slack does a GREAT job (no surprises there), with the suggestions and visual separation. Github drops the ball on both of these.

You said you have a proof of concept, with the exception of the overflow. I assume this is in your local environment. Is this something you can push to a feature branch? It would be most efficient to keep your work and iterate fro

[2016-08-04 03:51] rjmackay opened #78 "Permissions 'bug' on collections is hidden behind map"
<img width="328" alt="screenshot 2016-08-04 15 50 21" src="https://cloud.githubusercontent.com/assets/7965/17389778/437761d2-5a5b-11e6-8702-9ca5a1fa4505.png">

See here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map-collection.html when you hover of the world icon.

[2016-08-04 04:22] rjmackay opened #79 "Update location filter from PL"
Currently we have this in the client: https://www.dropbox.com/s/iwoowh7hxfcvh41/Screenshot%202016-08-04%2016.21.59.png?dl=0

Can we include this in the PL filters??

[2016-08-08 12:21] stephengacheru opened #80 "Improve format of overview data and embedded tweets"
![overview data](https://cloud.githubusercontent.com/assets/1528022/17479441/3f4c316e-5d7b-11e6-97b9-a8c544a5dbb6.png)

[2016-08-10 19:08] brandonrosage commented on #76
The change was in the service of addressing @aoduor's reported issue regarding custom color picking: https://github.com/ushahidi/platform/issues/1099

@willdoran is aware of the implementation. He and I have discussed how I built it. But I'm not sure where it is in the pipeline.

I'd advocate it be scheduled for implementation in the client.

[2016-08-10 19:13] brandonrosage commented on #72
I do have a proof of concept lurking in the `architecture` branch. But my hope with this issue was that you'd make a fresh run at building it. New eyes, new thought process; without the hassle of trying to reverse-engineer my failed attempt.

If you want to walk through what I did, though, I'm happy to do that on a call.

[2016-08-11 08:32] stephengacheru commented on #80
@brandonrosage This is one of the tasks that is needed for the pheme PL.  @middle8media said it is a good idea to add this here as it might end up being used as part of core PL in the future. He also mentioned that there is a design process when trying to come up with something new. Your thoughts on this?

[2016-08-11 13:27] middle8media commented on #72
OK, I will move forward with a fresh approach.

[2016-08-11 15:59] brandonrosage commented on #79
I've staged this in the PL -- currently in the `architecture` branch.

![filter](https://cloud.githubusercontent.com/assets/1136279/17595438/b330ce80-5fb2-11e6-9bd8-a128824b359c.png)

[2016-08-18 13:24] middle8media commented on #50
Is this still an issue? Does #72 fix this?

[2016-08-18 18:05] brandonrosage commented on #50
The cursor issue was fixed in a previous commit. #72 will only make it better, as it will expand the width of the input when it's active.

[2016-08-18 19:36] #50 closed

[2016-08-19 14:39] brandonrosage commented on #72
Currently completed in the `architecture` branch.

[2016-08-19 14:39] #72 closed

[2016-08-19 15:11] brandonrosage commented on #70
Fixed in `architecture`

[2016-08-19 15:11] #70 closed

[2016-09-06 20:43] rjmackay commented on #58
@brandonrosage is this fixed?

[2016-09-06 22:08] rjmackay commented on #80
@stephengacheru I'm not clear what the change needed here is. Can you explain?

[2016-09-06 22:10] rjmackay commented on #77
Any update on this?

[2016-09-08 03:34] rjmackay commented on #79
@brandonrosage this might seem a little insane.. but could we try making changes like this on their own branches? ie. a `location-search-fieldset` branch just for this change.
This would allow dev's to grab just the change they needed, implement it in the client and merge it to `master` of the PL.. without accidentally grabbing other changes along with it.

[2016-09-08 23:13] #58 closed

[2016-09-09 20:46] #79 closed

[2016-09-13 18:15] stephengacheru commented on #80
@rjmackay Based on advice from @middle8media, I was seeking thoughts on  the best way to present  summarised data like the one above since we may face something similar on the platform one day.

[2016-09-15 16:00] middle8media commented on #59
I am closing this because it is a browser/vendor bug. You will notice that when the browser moves its own toolbar out of the way it _then_ adjusts the viewport content, correcting the position of the button.

[2016-09-15 16:00] #59 closed

[2016-09-20 22:51] jshorland commented on #80
@brandonrosage any thoughts on this?

[2016-09-22 21:51] brandonrosage commented on #80
I made a first, covert pass at addressing this in a purely CSS revision tucked into `sprint-11`. I improves the style of each field's label and the spacing around each field:

![post fields](https://cloud.githubusercontent.com/assets/1136279/18767343/299d1e82-80e4-11e6-8c3d-223c4f94290e.png)

As we tackle "[free-form surveys](https://github.com/ushahidi/platform/issues/1335)," we'll likely tweak t

[2016-09-23 10:21] stephengacheru commented on #80
@brandonrosage I initially tried something close to that but had to change it for Pheme because it took up too much space and there was likely going to be lots of info being display. So I had to think of a way to present it without taking up too much space.

As for the tweets, that was my initial thoughts too but according to @tuxpiper the tweets were being pulled from a database so I made some mi

[2016-09-23 13:01] tuxpiper commented on #80
Just one note about tweets: rendering the tweets ourselves made sense for cases where we may need to enrich the information displayed . Also, Pheme should/would be eventually able to pull from  social networks other than Twitter.

[2016-09-23 13:25] brandonrosage commented on #80
Makes sense. Here's where I draw lines:

If we're trying to represent a "tweet," the absolute best way to honor that is to use Twitter's embedded tweet solution. That's a tweet; with all the dynamic data around it (e.g. replies, favorites, retweets).

If we're trying to import data from disparate communication channels, including Twitter, in the service of creating survey posts, then Ushahidi shou

[2016-09-25 10:27] tuxpiper commented on #80
I subscribe Brandon's views, the absolute best way to just represent a tweet is to use twitter's embedding facilities.

Beyond that scenario, I'm not sure what is the general right thing to do. Several considerations may come into play.

One such consideration that comes to mind is content licensing. I'm not sure if twitter content comes with a license that may still apply after taking such conten

[2016-09-26 00:53] rjmackay opened #83 "Map layout is broken in PL develop"
http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map.html

@brandonrosage Can you have a look at this?

[2016-09-28 15:03] #83 closed

[2016-10-04 22:26] #78 closed

[2016-10-04 23:47] rjmackay opened #85 "Large blank space at the bottom of modals"
<img width="536" alt="screenshot 2016-10-05 12 45 42" src="https://cloud.githubusercontent.com/assets/7965/19096543/b89dc9fa-8af9-11e6-8694-cd93a5c6b400.png">

In most cases this is added so that modal content can be scrolled above the `modal-actions` div, but when there is no modal-actions div the padding is still present.

[2016-10-05 01:02] rjmackay opened #86 "Settings button isn't visible in menu on small screens"
Expected:
- When I click 'More' on a small screen I can see settings menu item

Actual:
- No way to get to settings on a small screen

[2016-10-05 01:06] rjmackay commented on #86
I'm also not at all clear **why** we changed the approach to the mode-bar. the `tuck` and `persist` classes worked well. This change (568c8589) doesn't seem any cleaner than previous, and also relies on some fragile styling/markup using `.active + ul`

[2016-10-05 01:24] rjmackay opened #87 "Timeline layout no longer renders"
http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/timeline.html

See console for JS errors

[2016-10-05 01:39] rjmackay commented on #86
Related: It seems like the 'active' highlight on settings isn't working correctly. Not sure if thats my change, or something else. But needs a fix

[2016-10-05 03:11] rjmackay opened #88 "Padding form form-field class is huge"
<img width="1085" alt="screenshot 2016-10-05 16 10 27" src="https://cloud.githubusercontent.com/assets/7965/19099812/4f527a1e-8b16-11e6-976a-197706c4d874.png">

Is the markup here just wrong? or something else?

[2016-10-05 03:13] rjmackay opened #89 "Mark as dropdown appears in the wrong place"
<img width="538" alt="screenshot 2016-10-05 16 13 10" src="https://cloud.githubusercontent.com/assets/7965/19099860/a633899a-8b16-11e6-9673-42cd6d232d9e.png">

[2016-10-05 03:18] rjmackay commented on #88
This might be my fault. I removed the .form-field wrapper and it looks ok

[2016-10-05 14:45] brandonrosage commented on #85
`.modal-body` and `.modal-actions` are intended to work in concert. So if you have a modal window with no actions, just refrain from wrapping the "body" in the `.modal-body` container -- simply don't use that wrapper.

## _Aside_

[The upcoming "free-form surveys" solution](https://github.com/ushahidi/platform/issues/1335#issuecomment-250867949) reinforces the use of the "mainsheet" pattern, which

[2016-10-05 15:07] brandonrosage commented on #80
@jshorland In the interest of moving this issue down the line, I think there's two issues here:

1. Improve the presentation of each field in "Post detail" view.
2. Improve the presentation of tweets as children of a post (as opposed to tweets as the source material for a post).

Regarding No. 1, I think we've done that. In fact, it's implemented in the current sprint.

Regarding No. 2, I think we

[2016-10-17 02:34] rjmackay commented on #85
Ok. In principle that makes sense. However the dynamic height of modals relies on having a `modal-body` div. The PL uses the modal-body container, and we do the same in client.

[2016-10-26 19:59] brandonrosage commented on #86
I've staged a fix for this in a feature branch: [`f-modebar`](https://github.com/ushahidi/platform-pattern-library/tree/f-modebar). It's a very modest HTML structural revision, coupled with some CSS tweaks. It'd be pretty trivial to implement in an upcoming sprint, I think.

In fact, "Settings" has been (and is) available on small screens. But some of the limitations of the structure of the Mode B

[2016-10-31 23:21] rjmackay commented on #12
Dropping this back to design.. Not really sure what it is still.

[2016-11-10 02:07] rjmackay commented on #89
ping @brandonrosage ..

[2016-11-14 02:03] rjmackay opened #105 "Map marker shadows render weirdly when many markers close together"
<img width="98" alt="screenshot 2016-11-14 15 00 49" src="https://cloud.githubusercontent.com/assets/7965/20251100/3dabe8ca-aa7b-11e6-82b6-bfd3728cda7a.png">

I think part of the problem here is that we're not managing shadows separately, as leaflet does with its built in markers. I'm not 100% what the right way to do this is but its likely we need to extend L.Icon and  render an additional HTML e

[2016-11-17 15:39] #12 closed

[2016-12-05 02:17] rjmackay commented on #105
I made an attempt to fix this https://github.com/ushahidi/platform-pattern-library/tree/map-shadows

However I can't figure out the CSS-fu to generate a sensible shadow since I don't have the SVG present in the shadow layer

[2017-01-30 15:34] brandonrosage commented on #85
If conditional use of the `.modal-body` wrapper isn't possible, I'd lobby for supporting the `.mainsheet` pattern in the client, since it exists primarily to serve as an interstitial window with **no** window-level actions (like Save or Cancel).

I've ensured the `develop` branch has the HTML, CSS, and JS necessary to support it.

If you'd like, @rjmackay, I can create an issue dedicated to the ta

[2017-01-30 16:23] #88 closed

[2017-01-30 17:49] #89 closed

[2017-04-10 17:56] jshorland commented on #86
to do: @jshorland double check this.

[2017-04-17 19:23] jshorland commented on #46
closing.

[2017-04-17 19:23] #46 closed

[2017-05-23 14:31] middle8media commented on #87
this seems to be fixed

[2017-05-23 14:31] #87 closed

[2017-05-23 14:35] middle8media commented on #86
@jess where are we on this? Can brandon's fix be merged?

[2017-06-01 02:53] willdoran opened #133 "3.7.0 release"
- PL is currently at 3.7.0-rc-1 in Client, it should possible go to 3.7.0.
- The develop and master branches appear to be dissociated though perhaps this is just waiting on 3.7.0

[2017-06-08 13:28] middle8media opened #134 "Create a list of standard date formats used in the app"
Add a list of standard date formats to the pattern library for reference.

[2017-06-09 17:22] middle8media commented on #134
this is done locally, and I pushed to both `master` and `gh-pages`, I am just trying to remember how those get deployed to http://preview.ushahidi.com/platform-pattern-library/master/

[2017-06-09 17:22] #134 closed

[2017-06-13 20:48] jshorland commented on #86
@middle8media i'd love to merge brandon's fix if possible. @rjmackay ?

[2017-06-13 22:46] jshorland commented on #133
@willdoran what should we do with this?

[2017-06-14 07:23] rjmackay commented on #86
I'll look at merging in the PL - its in a slightly weird state. Then we can test that out on staging.

[2017-06-14 15:28] willdoran commented on #133
@jshorland I would flag this for @middle8media @justinscherer
At the moment, we're pointing at 3.7.0-rc-1, it would be ideal to move it to 3.7.0 or 3.7.1 as is appropriate for PL. This is not critical or even important and can be handled at the next release I just wanted to flag it for reference.

[2017-06-19 17:32] middle8media commented on #133
I plan to take care of this before or at the next release.

[2017-06-22 10:59] ryanchristo opened #135 "Unable to preview pattern markdown / duplicate buttons"
### Expected behaviour
- There should be only one "show html" button for each pattern.
- When I click the "show html" button, I can preview the markdown.

### Actual behaviour
- There are two "show html" buttons that overlap for each pattern.
- When I click either of the "show html" buttons, nothing happens.

<img width="1095" alt="screen shot 2017-06-22 at 5 51 54 pm" src="https://user-images.git

[2017-06-22 11:03] ryanchristo commented on #135
I noticed that in the scripts file, in addition to loading the handlebars script, the hbLoadLayout() function is being invoked. When I removed this, everything seems to be working and the issue is fixed but I wanted to check and see if there was another reason for the function being invoked here before submitting a pull request.

[2017-07-04 06:18] ryanchristo commented on #135
Updated pull request ushahidi/platform-pattern-library#136 with changes focuses on the insertion of the pattern-sample elements rather than when and how many times load layout is called.

[2017-07-11 02:18] #135 closed

[2017-07-27 21:17] rjmackay commented on #85
@middle8media if you could flag where we need to replace modals with mainsheet patterns, I can update in the client. *or* given @ryanchristo already built the pattern maybe you could just swap the functions on the client

[2017-07-27 21:33] rjmackay commented on #135
@ryanchristo I'm still seeing this on http://preview.ushahidi.com/platform-pattern-library/develop/
Any ideas?

[2017-07-28 02:28] ryanchristo commented on #135
@rjmackay I cleared my local files, pulled down the latest `develop` branch, ran `npm install` then `gulp` and it works as expected. Then I did the same for the latest `master` branch but I had to run `gulp build` before running `gulp` in order to get it to work. Is the preview running off the `master` branch? What's the build process when deployed?

`develop` branch / `master` branch running on l

[2017-07-28 02:44] rjmackay commented on #135
Ah. Looks like our deploy setup was broken :/
We'd accidentally stopped running builds on the current node version, but travis was set to only deploy with the current version.

[2017-07-31 15:46] #133 closed

[2017-08-01 19:49] crcommons opened #141 "Refactor Categories Layout"
Setting -> Categories

Layout should follow the design pattern for Fieldset of checkboxes as outlined [here](http://preview.ushahidi.com/platform-pattern-library/master/assets/html/3_modules/).

Sub-categories should be indented (but trash bin icons should stay aligned.

[2017-08-07 10:36] rjmackay opened #142 "Replacement for .input-inline pattern"
The .input-inline pattern was removed in 915c8ec96

But its still used in the client as seen here: https://github.com/ushahidi/platform/issues/1860

Is there a replacement? Can we have one?

[2017-08-24 04:26] #86 closed

[2017-09-04 07:44] Angamanga opened #144 "Checkboxes are misaligned in category selection in posts and when creating a category-fieldtype"
There is a 16px left-padding that misaligns the checkboxes for categories in create-post-view and create category field-type. Can be seen in the category-markup-branch on platform-client and on staging: http://qa.category-markup.ushahidilab.com/

![screen shot 2017-09-04 at 09 42 08](https://user-images.githubusercontent.com/8624777/30016437-6b41d51c-9155-11e7-8775-b3e86598a3bb.png)
![screen shot

[2017-09-05 17:03] middle8media commented on #144
I pushed a fix for this [here](https://github.com/ushahidi/platform-pattern-library/commits/master)

You just need to adjust `ushahidi-platform-pattern-library` to match the version prerelease in the client package.json and pull in the styles.

[2017-09-05 17:04] #144 closed

[2017-09-06 00:52] rowasc opened #145 "Error alert pushes other elements causing alignment issues in forms"
Steps to reproduce:
Make a mistake while trying to add an email, password, post title, or any other field.

![Screen Shot 2017-09-05 at 10.38.37 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5940898e29d5f5001ab2826d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772a6454f66b7191a379ef0c2859415c49bc30254d58eeb9cb74fce36f34985619e8d9655871c73c19feee831bbd03

[2017-09-06 15:45] rowasc commented on #145
@middle8media , this is the issue we discussed yesterday.

[2017-09-06 15:47] rowasc commented on #145
FYI @jshorland

[2017-09-07 15:14] middle8media commented on #145
Thanks @rowasc This should be a quick fix, I will push today.

[2017-09-07 19:17] middle8media commented on #141
@justinscherer this is our [current UI](http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/settings-categories.html) for Categories which uses a common pattern. I am not confident integrating Fieldset Checkboxes here and I suggest we keep it as is for consistency. Thoughts?

[2017-09-07 19:45] middle8media commented on #145
@rowasc fixed. Running `npm install ushahidi-platform-pattern-library` in the client will pull in version 3.7.1-rc.19 of the PL.

[2017-09-07 20:42] rowasc commented on #145
Thank you Seth! I'll test and get back to you.

[2017-09-07 21:21] justinscherer commented on #141
@middle8media @crcommons I think we're going to refactor categories UI in a more meaningful way as part of 2chaguzi, so let's hold for now.

[2017-09-14 15:37] rowasc commented on #145
Hi Seth. Thanks for handling this.  I see it's fixed in the login screen, but it's still broken for post fields and other forms.  Maybe it's a different issue for each?

[2017-09-14 16:50] middle8media commented on #145
Yeah, it could be a different issue for each. I will figure out a better fix.

[2017-09-19 19:05] sethburtonhall opened #148 "Simplify color palette and re-engineer sass color variables"
# Summary

The platform color palette has gotten out of control and needs to be simplified. Doing so will allow me to re-design the sass variables, which will allow for quicker client customization.

**Steps:**
- [x] rethink and simplify the PL color palette
- [x] re-design the sass variables and revise the css to reflect
- [ ] test by changing a few sass color variables to see custom colors refle

[2017-11-01 23:45] #85 closed

[2017-11-03 01:53] #142 closed

[2018-01-04 21:18] crcommons opened #172 "Reduce padding in form-field"

[2018-01-04 21:19] crcommons opened #173 "Refactor multi-deployments login styles to be module and not exist as standalone layout"
Login styles were added in order to get dashboard presentation-ready. Styles match specs, but need to be refactored.

[2018-02-02 20:10] crcommons opened #175 "ComponentDidMount not always running when navigating back/reloading"
Anna to fill in here...

[2018-02-02 20:13] #175 closed

[2018-02-07 15:58] Angamanga opened #179 "Misaligned text in bug-icon-badge"
The text in bug-icons are misaligned:
![screen shot 2018-02-07 at 16 58 27](https://user-images.githubusercontent.com/8624777/35926315-26a39532-0c28-11e8-88f8-845a79d39152.png)

[2018-02-07 16:01] Angamanga opened #180 "The dropdown-arrow is rotated the wrong way"
The dropdown-arrow is rotated the wrong way in some places:

![screen shot 2018-02-07 at 17 01 03](https://user-images.githubusercontent.com/8624777/35926468-82b5aebe-0c28-11e8-9257-9a08ceac5679.png)

[2018-03-12 20:48] justinscherer commented on #148
# Design rationale

## Problem

Our old colour palette had **64** colours in it. Now it has **10**

They looked like this:

![labelledoldpalette](https://user-images.githubusercontent.com/29209303/37307869-da019e42-2601-11e8-820b-03b7061d409f.png)

And this:

![similar together](https://user-images.githubusercontent.com/29209303/37307874-deedf7d4-2601-11e8-825c-401b7dea24df.png)

The palette had s

[2018-03-12 20:55] middle8media commented on #148
@justinscherer this is great!! Thank you. I will jump into this once @Erioldoesdesign reviews.

[2018-03-13 15:51] Erioldoesdesign commented on #148
Love this and I have but one critique!

We may end up needing lighter versions of red/green. Though they will likely not pass contrast 4:5. I don't think this stops this work from being started but I'm anticipating this possible cropping up.

We also may want to see if a non-brand yellow or orange is worth looking into so we have the 'traffic light' colours red/orange/green

[2018-03-15 21:53] middle8media commented on #148
The new color palette is in [this commit](https://github.com/ushahidi/platform-pattern-library/commit/4230c003b959531f57e79ede20b280269c20bcc2) in the [accessibility branch](https://github.com/ushahidi/platform-pattern-library/tree/accessibility). @justinscherer and @Erioldoesdesign, would you be able to pull down the branch, test the colors in all pages/layouts, and make notes of anything that ne

[2018-03-16 21:59] justinscherer opened #190 "Make clickable things look clickable"
# Update after critique

For now, I think the best way forward on this is to only implement the changes to clickable link-text. We'll save buttons et al. for later.

Make links:

[code]

## Summary

Clickable things in our UI (i.e. links, buttons) are not usable, nor accessible for a few reasons:
1. links are styled as Lato Regular or Semibold in a dark grey, which is the same styling as all of th

[2018-03-16 22:04] justinscherer commented on #148
The main things that are broken seem to be the backgrounds behind cards should be the `$bg-grey: #F1F1F4` instead of white and we need to refactor the red error styles so that they don't require contrasting reds. The links in the settings menu are a tiny bit janky, but I put some changes in #190 which should help out.

[2018-03-19 14:05] Erioldoesdesign commented on #148
The hover colour for the link blue passes contrast ratio but doesn't really look much different to the active or visited state. The underline changes from dotted to solid though so still some indication of state change.
Not particularly a usability issue more of a 'Have I clicked this before? Am I hovering over this?' kind of user question

Found a random turqoiuse:
![screen shot 2018-03-19 at 14

[2018-03-19 15:32] Erioldoesdesign commented on #190
Something to discuss in the design crit: Arrows '>' at the end of text on buttons to indicate travelling to a new section/page and indicating a clickable thing

[2018-03-20 11:28] Erioldoesdesign opened #191 "Bug - Turqouise/Pale green"
#190 #148

When reviewing the updated PL I found two instances of two different turquoise/pale green colours.

One in the slider device:
![screen shot 2018-03-19 at 14 02 09](https://user-images.githubusercontent.com/11681324/37651853-750d8f6a-2c31-11e8-85e7-6d45f7e5c5f3.png)

![screen shot 2018-03-19 at 14 02 18](https://user-images.githubusercontent.com/11681324/37651883-852d2de2-2c31-11e8-9ec0-

[2018-03-20 11:31] Erioldoesdesign opened #192 "Bug - Dark yellow in Text Area"
#190 #148

When reviewing the updated PL I found an instance of a dark yellow:

![screen shot 2018-03-19 at 14 08 54](https://user-images.githubusercontent.com/11681324/37652035-09f943f8-2c32-11e8-8dff-59c2b7ed11f3.png)
![screen shot 2018-03-20 at 11 14 19](https://user-images.githubusercontent.com/11681324/37652042-0d6da768-2c32-11e8-9481-6fb7956facf3.png)

When clicking into (focus) on the text

[2018-03-20 11:43] Erioldoesdesign opened #193 "Bug - Yellow link text with blue dotted line in info section"
#190 #190

When reviewing the updated PL I found in the block area instances of a yellow text link colour still present in the 'information' section of a deployment where the link text and hover line are yellow but the non-hover dotted line is the new link blue.

![screen shot 2018-03-19 at 15 25 38](https://user-images.githubusercontent.com/11681324/37652134-6f9d6de2-2c32-11e8-9a7e-d40aeed49665.p

[2018-03-20 11:47] Erioldoesdesign opened #194 "Bug - New green colour on dark grey contrast"
#190 #148

When reviewing the updated PL I found the new green colour is used on the download confirmation 'snackbars' and is at a low contrast of 2:0.
![screen shot 2018-03-19 at 15 24 35](https://user-images.githubusercontent.com/11681324/37652742-7821a486-2c34-11e8-8296-9b73cecadbe3.png)

[2018-03-20 11:49] Erioldoesdesign opened #195 "Bug - Pale yellow on notification"
#190 #148

When reviewing the updated PL I found a notification in 'fragments' that uses a pale yellow background colour:

![screen shot 2018-03-19 at 15 23 33](https://user-images.githubusercontent.com/11681324/37652792-a311c9a0-2c34-11e8-9813-fa5fa5bd5d2d.png)
![screen shot 2018-03-19 at 15 23 36](https://user-images.githubusercontent.com/11681324/37652793-a33a0c26-2c34-11e8-8563-3de394a6fea5.pn

[2018-03-20 11:50] Erioldoesdesign opened #196 "Bug - Pale blue in notifications"
#190 #148

When reviewing the updated PL I found an instance of a pale blue being used on a notification:
![screen shot 2018-03-19 at 15 13 21](https://user-images.githubusercontent.com/11681324/37652868-da4e0fbe-2c34-11e8-9d38-bc44dc648448.png)

Again, may be a case of lighten sass

[2018-03-20 11:54] Erioldoesdesign opened #197 "Bug - Error red icon contrast on red background"
#190 #148

When reviewing the updated PL I found the error icon on the new red contrast problem:
![screen shot 2018-03-19 at 15 20 32](https://user-images.githubusercontent.com/11681324/37652913-ff07d9e8-2c34-11e8-9e65-529184a20102.png)

[2018-03-20 11:56] Erioldoesdesign opened #198 "Bug - Disabled button text not readable"
#190  #148

When reviewing the updated PL I found that the disabled button text is white on pale grey (as it was before)
![screen shot 2018-03-19 at 15 16 37](https://user-images.githubusercontent.com/11681324/37653118-a76676ee-2c35-11e8-8421-278d95e025e3.png)

Might be a chance to change to a readbale state.

[2018-03-20 11:58] Erioldoesdesign opened #199 "Bug - Pale grey text on dark grey bg"
#190  #148

When reviewing the updated PL I found that #777777 text colour is being used on a #1E232A background which is at 3:5 contrast ratio.

![screen shot 2018-03-19 at 14 04 35](https://user-images.githubusercontent.com/11681324/37653215-faa55cb2-2c35-11e8-8e98-bee2ac271dfa.png)
![screen shot 2018-03-19 at 15 12 56](https://user-images.githubusercontent.com/11681324/37653216-fac1f02a-2c35-11

[2018-03-20 11:59] Erioldoesdesign opened #200 "Bug - Yellow focus halo on text fields"
#190 #148

When reviewing the updated PL I found that we're using the brand yellow as a focus colour blurry border effect on text fields:

![screen shot 2018-03-19 at 15 17 13](https://user-images.githubusercontent.com/11681324/37653253-159d7dec-2c36-11e8-9d09-9344efd15dcb.png)

[2018-03-20 12:01] Erioldoesdesign opened #201 "Bug - White loading dots on pale grey loading bar"
#190 #148

When reviewing the updated PL I found that the white dot animation in 'fragments' is shown on a pale grey background and is not visible:

![screen shot 2018-03-19 at 15 20 16](https://user-images.githubusercontent.com/11681324/37653297-4a2d6900-2c36-11e8-8b06-cebf04049df7.png)

[2018-03-20 12:04] Erioldoesdesign opened #202 "Bug - 'Title for checkboxes'"
#190 #148

When reviewing the updated PL I found that the 'Custom fieldset' element in 'fragments' may be broken as when you click into the pale grey section the pale grey takes over the entire field:

![screen shot 2018-03-20 at 12 02 48](https://user-images.githubusercontent.com/11681324/37653442-cd6a51d4-2c36-11e8-8d87-4bf3326928b1.png)
![screen shot 2018-03-20 at 12 02 51](https://user-images.

[2018-03-22 20:17] justinscherer commented on #190
For now, I think the best way forward on this is to only implement the changes to clickable link-text. We'll save buttons et al. for later.

Make links:

`font-Family: Lato;
font-weight: 900; //Lato heavy
$color-dark: $link-blue; //for white backgrounds
$color-light: $disabled-grey; // for black backgrounds. We should change this variable name
letter-spacing: 0.5px;

[2018-03-22 20:18] justinscherer commented on #148
We can continue to address this in the individual tickets Eriol opened.

[2018-03-22 20:20] justinscherer commented on #194
I think it's OK in this context because the icon is not required to understand the message or its context. It's decoration, essentially. Also, the thumbs up contrasts wiht the green background, so you'd still be able to see the primary icon, just not the circle on the background.

[2018-03-22 20:20] #194 closed

[2018-03-22 20:32] justinscherer opened #203 "refactor alert styles to remove backgrounds"
## Old style:
<img width="569" alt="screen shot 2018-03-22 at 2 27 09 pm" src="https://user-images.githubusercontent.com/29209303/37796571-39e11f1c-2ddd-11e8-8ef6-6d3864f2e51b.png">

## New style

<img width="400" alt="screen shot 2018-03-22 at 2 26 58 pm" src="https://user-images.githubusercontent.com/29209303/37796586-3fd8cea6-2ddd-11e8-9cd9-bfa2bd72d02d.png">

## Changes

- [ ] remove `font-sty

[2018-03-22 20:33] justinscherer commented on #191
Yeah, it's a `lighten()` function in both cases. I think we'll have to leave the toggle for now.

fixed the error messages in #203

[2018-03-22 20:33] #191 closed

[2018-03-22 20:34] justinscherer commented on #192
I don't think we actually use this input field style anywhere. But in case we do, they should be: `#777777`

[2018-03-22 20:36] justinscherer commented on #193
I agree on this one Eriol. Nice catch!

#190 should fix this by making all the links white and `font-weight: 900;` `letter-spacing: 0.5px;`

[2018-03-22 20:38] justinscherer commented on #195
fixed in #203

[2018-03-22 20:38] #195 closed

[2018-03-22 20:38] justinscherer commented on #196
fixed in #203

[2018-03-22 20:38] #196 closed

[2018-03-22 20:38] justinscherer commented on #197
fixed in #203

[2018-03-22 20:39] justinscherer commented on #198
This is a weird one where it's actually accessible here. Things you can't click don't need to pass 4.5:1 colour contrast. The fix for this is making buttons clickable so that users can make errors and recover from them instead of disabling the buttons.

[2018-03-22 20:39] #198 closed

[2018-03-22 20:40] justinscherer commented on #199
Nice catch! All these should be `#D0D0D0` or `#FFFFFF`

[2018-03-22 20:41] justinscherer commented on #200
nice catch!

Let's replace it with `$disabled-grey` i.e. `#D0D0D0`

[2018-03-22 20:42] justinscherer commented on #201
Nice catch

Loader should be `$black`

[2018-03-22 20:43] justinscherer commented on #202
I would need to see how this looks with actual data in it before I can make a call on whether or not it's a mistake. With `$black` elements in the list, it'd probably pass.

[2018-03-22 21:05] justinscherer opened #204 "Standardize input fields"
## Background

A major usability problem that we have is that we use a bunch of non-standard input field styles that trip up users all the time in testing. For example:

`/settings/general`
<img width="1680" alt="screen shot 2018-03-22 at 2 49 14 pm" src="https://user-images.githubusercontent.com/29209303/37797867-aed3d2f8-2de0-11e8-8435-6e944c82e261.png">

`/settings/surveys/create`
<img width="1

[2018-03-27 15:20] middle8media commented on #145
this is fixed and in `develope`. Closing.

[2018-03-27 15:20] #145 closed

[2018-03-27 16:29] middle8media commented on #203
fixed via https://github.com/ushahidi/platform-pattern-library/commit/99776587e175ecd3afbfddc5b6d88ab6465f1eea in `develop` branch.

[2018-03-27 16:29] #203 closed

[2018-03-27 16:39] #197 closed

[2018-03-27 16:42] middle8media commented on #192
fixed via https://github.com/ushahidi/platform-pattern-library/commit/b078b48a40ff79f569d535550537293b95c97520 in `develop` branch

[2018-03-27 16:42] #192 closed

[2018-03-27 16:43] middle8media commented on #200
fixed via https://github.com/ushahidi/platform-pattern-library/commit/b078b48a40ff79f569d535550537293b95c97520 in `develop` branch

[2018-03-27 16:43] #200 closed

[2018-03-27 16:43] middle8media commented on #201
fixed via https://github.com/ushahidi/platform-pattern-library/commit/b078b48a40ff79f569d535550537293b95c97520 in `develop` branch

[2018-03-27 16:43] #201 closed

[2018-03-28 21:35] justinscherer opened #205 "Platform UI Refresh"
## Summary

Refactor the Platform UI from the bottom up using [Brad Frost's Atomic Design Methodology](http://bradfrost.com/blog/post/atomic-web-design/)

The methodology has us start with the most basic, fundamental components of the UI, the atoms, and cascade those designs into more and more complex components(atoms --> molecules --> organisms --> templates) until we arrive at new page templates

[2018-03-28 22:40] justinscherer commented on #205
I am going to recommend that we don't bother with critiques until we can see how our atoms and molecules start reacting with one another at the organism phase.

[2018-03-31 17:03] Erioldoesdesign commented on #205
Just amended point 3. to include "by at least one designer and other staff member (at organism level)"

[2018-04-02 16:44] #193 closed

[2018-04-05 02:26] justinscherer commented on #205
@rjmackay

Yes, the idea is to work from the littelest things to the more complex things, adjusting the foundational, atom elements in the process.

It represents assessing them and designing them, but not implementation in the PL/Client.

[2018-04-05 02:36] rjmackay commented on #205
Thats useful thanks.

I might be too hopeful here. But if possible, it'd help to have a best guess - with thoughts from @Angamanga and @middle8media - whether the scope of design changes is likely push us towards just updating things in the PL or to rebuilding some/all of them from scratch.
If that answer is "We have no idea yet" then thats useful to know too.

[2018-04-05 07:50] Angamanga commented on #205
@rjmackay @middle8media @justinscherer @Erioldoesdesign
My understanding is that our pattern library is built from atoms to pages but we name it differently,  basics and fragments are similar to atoms, modules are similar to molecules, blocks looks like organisms and pages are our layouts. Where we lack is templates. The pattern-lab they refer to looks very much the same as our Pattern Library, on

[2018-04-05 14:40] justinscherer commented on #205
I think let's just wait for us to make some progress on these tickets and we'll have another conversation about impact on React rollout in a couple weeks.

[2018-04-24 22:28] justinscherer commented on #148
potential pretty purple to add to the list as an accent colour.looks nice on white with the rest of our colour and is a complimentary (triadic) colour with our blue-grey

#2618B1

[2018-05-17 19:29] sethburtonhall commented on #148
added this as accent color

[2018-06-15 18:37] rowasc commented on #205
@justinscherer @Erioldoesdesign do you know what issues from the UI refresh epic will be / should be worked on during cycle 6? (for the design team)

@Angamanga do you have any specific priorities in mind/ things we need for the migration and are blockers?

cc @jrtricafort please jump in if this was discussed already or you know the answer :)

[2018-06-19 17:04] Erioldoesdesign commented on #205
@rowasc @justinscherer We talked about this in the Design implementation - Process sync call just now but just so it's documented here too.

Me and Justin will take a look tomorrow when we sync up to prioritise for the remainder of the week he is OOO. We'll be moving design tickets into cycle 6 as part of that sync up :)

[2018-06-20 13:59] rowasc commented on #205
@Erioldoesdesign excellent thankk you !

[2018-06-21 14:09] jrtricafort commented on #205
@rowasc I don't know the answer. @justinscherer and @Erioldoesdesign can you provide your input here?

[2018-06-23 15:54] Erioldoesdesign commented on #205
@jrtricafort We moved a few design tickets into cycle 6 :) when Justin is back on Monday. There may be more we can tackle but there's a good amount in there for now 👍

[2018-06-25 14:53] jrtricafort commented on #205
Thanks @Erioldoesdesign and @justinscherer !

[2018-08-30 18:07] #148 closed

[2018-08-30 18:07] #141 closed

[2018-08-30 20:57] #202 closed

[2019-07-10 09:34] Erioldoesdesign opened #227 "Workflows to process incoming survey responses."
User story: I want to be able to define the workflow that my team and I will use to process incoming survey responses. I also want to see incoming survey responses within that workflow, so I can see what stage responses are in within my workflow.

[2019-12-11 14:39] greenkeeper[bot] opened #230 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-12-12 08:04] #230 closed

[2019-12-12 08:34] greenkeeper[bot] opened #231 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-12-12 14:16] #231 closed

[2020-04-24 18:44] #77 closed

[2020-10-12 07:55] muchirijane commented on #179
Hey @Angamanga if this issue is still open could I work on it.

[2020-10-12 07:56] muchirijane commented on #172
Hey @Angamanga, If this issue is open could I work on it.

[2020-10-12 13:15] LizzyKate commented on #180
Can I be assigned to work on this issue.

[2020-10-12 20:04] Sunairaa commented on #190
Hey @Angamanga, i am an outreachy student is this issue still available?  I would love to work on this front-end issue?

[2020-10-12 20:15] Sunairaa commented on #49
Hey, @Angamanga is this issue still available? I would like to work on it.

[2020-10-12 20:17] Sunairaa commented on #172
Hey, @Angamanga is this issue still available? can I work on it?

[2020-10-13 10:56] Sunairaa commented on #179
Hey @Angamanga , I am outreachy candidate, i would like to work on this issue. is this issue still available?

[2020-10-13 11:07] Sunairaa commented on #80
Hey @Angamanga i am outreachy candidate , is this issue still available? can i work on it?

[2020-10-14 08:55] Angamanga commented on #180
@LizzyKate This issue is outdated, closing it. Please have a look here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-14 08:55] #180 closed

[2020-10-14 08:58] Angamanga commented on #49
@Sunairaa This is outdated so closing it.

[2020-10-14 08:58] #49 closed

[2020-10-14 09:00] Angamanga commented on #190
Outdated so closing

[2020-10-14 09:00] #190 closed

[2020-10-14 09:01] #172 closed

[2020-10-14 09:06] Angamanga commented on #179
@muchirijane @Sunairaa This issue is already fixed. Look here for new issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 🙏

[2020-10-14 09:06] #179 closed

[2020-10-14 09:07] Angamanga commented on #80
@Sunairaa Sorry its outdated (most issues in this repo are). Check here when you are ready with the issue you are currently working on: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-14 09:07] #80 closed

[2020-10-14 15:52] amycruz97 commented on #204
is this issue still available

[2020-10-14 19:53] Sunairaa commented on #204
Hey @Angamanga is this issue available? i would love to work on it.

[2020-10-15 17:05] Firenz commented on #53
Hi! I'm Alicia, an Outreachy candidate looking for some issues to do in this repository.

@Angamanga I just found this issue opened, but it seems like it has already been fixed?

I just opened the embed map, checked in a small resolution, and it already works fine in a small context.

I attach two screenshots to showcase this:
![2020-10-15_18-57-13](https://user-images.githubusercontent.com/255829

[2020-10-16 07:50] Angamanga commented on #204
@amycruz97 @Sunairaa I need to triage this a bit more before its open to the community.

[2020-10-16 08:25] Angamanga commented on #53
@Firenz Yes, this issue is outdated! Thank you for checking, closing this 🙏

[2020-10-16 08:25] #53 closed